.heading {
  text-align: center;
  background-color: rgb(23, 23, 97);
  padding: 20px;
}
.heading h1 {
  color: wheat;
  font-size: 40px;
}
:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
